<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>sgdp</display-name>
	<!--  
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	-->
 	<!--<distributable/>-->
	<servlet>
		<description></description>
		<display-name>dispatcher</display-name>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- Para LDAP -->
		<param-value>
		       classpath:cl/gob/scj/sgdp/config/service-context.xml    
		       classpath:cl/gob/scj/sgdp/config/persistence-context.xml    
		       classpath:cl/gob/scj/sgdp/config/security-context.xml
		       classpath:cl/gob/scj/sgdp/config/util-context.xml		       
		</param-value>
		<!-- Para Keyclock 
		<param-value>
		       classpath:cl/gob/scj/sgdp/config/service-context.xml    
		       classpath:cl/gob/scj/sgdp/config/persistence-context.xml
		       classpath:cl/gob/scj/sgdp/config/util-context.xml	       
		</param-value>-->
	</context-param>
	<!-- Codificación -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>basicauth</filter-name>
		<filter-class>cl.gob.scj.sgdp.filter.BasicAuthFilter</filter-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>automatizacion_sgdp</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>7'*#kGJd9'k[7BZJ</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/mueveProceso</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/retrocedeProceso</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/finalizarProceso</url-pattern>
	</filter-mapping>
	<filter-mapping>	
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/getSolicitudesCreaExpFinalizadas</url-pattern>
	</filter-mapping>
	
	<!-- Para LDAP -->
	<filter-mapping>	
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>	  	
	<filter>
		<display-name>springSecurityFilterChain</display-name>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>	
		<filter-name>basicauth</filter-name>
		<url-pattern>/api-servicios-sgdp/*</url-pattern>
		<url-pattern>/archivo/*</url-pattern>
	    <url-pattern>/serviciosDoc/*</url-pattern>
	    <url-pattern>/servicios/*</url-pattern>
	    <url-pattern>/mantenimiento/*</url-pattern>
	    <url-pattern>/vinculacion/*</url-pattern>
	</filter-mapping>
	
	<!--
	<filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>cl.gob.scj.sgdp.filter.NoCacheFilter</filter-class>         
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<!-- Para Keyclock INICIO
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Todo</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>ValidaSesion</web-resource-name>
	        <url-pattern>/verificarSession</url-pattern>
	    </web-resource-collection>
	</security-constraint>	
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Servicios Web</web-resource-name>
	        <url-pattern>/serviciosDoc/*</url-pattern>
	        <url-pattern>/servicios/*</url-pattern>
	        <url-pattern>/mantenimiento/*</url-pattern>
	        <url-pattern>/lib2/*</url-pattern>
	    </web-resource-collection>
	</security-constraint>	 

	 
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>this is ignored currently</realm-name>
	</login-config>

	<security-role>
		<role-name>user</role-name>
	</security-role>
	
	 Para Keyclock FIN--> 
	
		
    <error-page>
        <error-code>404</error-code>
        <location>/error404</location>
    </error-page>
    
</web-app>